body {
	background: rgb(227, 225, 224);
}

.page-header {
	background: #70BDBD;
	margin-top: 0px;
}

.page-header h1 {
	color: #fff;
	font-family: 'HelveticaNeueLT Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: normal;
	margin-top: 0px;
	padding-bottom: 9px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 20px;
	text-shadow: 1px 1px #666;
}

.container {
	background: rgb(255, 255, 255);
	font-family: Verdana, sans-serif;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.landing {
	padding-left: 9px;
	padding-right: 9px;
}

.content {
	padding-left: 9px;
	padding-right: 9px;
}

.content table {
	padding-right: 9px;
}

.top-buffer { 
	margin-top:16px;
}

.browse {
	margin-left: 0px;
	margin-right: 0px;
}

.pager {
	padding-left: 9px;
	padding-right: 9px;
}

dl {
	padding-left: 9px;
}


.transparent {
	color: transparent;
	
}

.corrtd {
  margin:10px; 
  padding:5px;
  border:1px solid black;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis path, x.axis line {
  stroke: #000000;
  fill: none;
}


.y.axis path, .y.axis line {
  stroke: #000000;
  fill: none;
}

.hideclass {
  display:none;
}

.hoveringdiv {
  z-index: 10;
  position: absolute;
  background-color: #FFFFFF;
  border:1px solid black;
  padding:5px;
  
}
